<div class="container-fluid">
    <div class="widget_header row-fluid">
        <h3></h3>
    </div>
    <hr>
    <div class="clearfix"></div>
    
    <div class="listViewContentDiv" id="listViewContents">
        
    </div>
</div>

