.sms_box{
	width:350px; 
	height:250px; 
	float:left; 
	margin:20px; 
	border:1px solid black;  
	background:white;
}

.sms_header{
	padding: 5px; 
	background-color:blue;
	color:white;
	/*text-align:center;*/
	height: 35px;
}

.sms_contents{
	overflow: hidden; 
	width: auto; 
	height: 160px;
}

.sms_contents span{
	padding: 3px; 
	width:80%; 
	margin:3px; 
	border-radius:5px;
}

.sms_contents span.receive_msg{
	background: #C4FFEE; 
	float:right; 
}

.sms_contents span.sent_msg{
	background: #ddd; 
	float:left;
}

.sms_footer{
	width:100%; 
	height:45px; 
	background: black; 
	color:white; 
	bottom:0; 
	text-align:center;
}