/************************************************************
 * Push Sidebar Menu
 * 
 ************************************************************/

 
label{
	font-weight:normal!important;
}
.nav_trigger {
	cursor: pointer;
	display:block;
	font-size: 26px;


}
.nav_triggerleft {
	cursor: pointer;
	display:block;
	font-size: 26px;
}


.fixed_menu{
    position: fixed;
    right: 0;
    top: 40%;
    width: 50px;
    z-index: 999;
}

.fixed_menu ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
.fixed_menu li {
    display: block;
    width: 100%;
    /*line-height: 50px;*/
    margin: 0 0 20px;
	background-color: blueviolet;
}



body.show_sidebar .nav_trigger {
	margin-left: 5px;
}


body.show_sidebar3 .nav_trigger2 {
	margin-right: 5px;
}
.panel-heading i{
	color:#b0acbc;

}

.panel-heading:hover{
	cursor:pointer;
}

#push_sidebar div.advsearch{
	 margin: 20px 0 !important;
}

.panel-heading:hover i{
	color:#fff;
}

.nav_trigger1{
	display:block;
}

#push_sidebar {
	background: #4e5356;
	bottom: 0;
	color: #fff;
	left: 100%;
	overflow: auto;
	position: fixed;
	top:28%;
	width: 20%;
	z-index:99999999;
 	height: 360px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
			
}

body.show_sidebar #push_sidebar {
	left: 80%;
}


#push_sidebarleft {
	background: #4e5356;
	bottom: 0;
	color: #fff;
	right: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 20%;
	z-index:99999999;

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}


#push_sidebarleft div.col-lg-12{
	margin-top:20px;
}

.bigphone {
	font-size:24px;
}

#push_sidebarphone div {
	font-size:18px;
}

#push_sidebarphone div.advsearch {
	font-size:24px;
}

#push_sidebarphone {
	background:url(images/phone-call.jpg) no-repeat 0 0; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	color: #fff;	
	overflow: auto;
	position: fixed;
	
	z-index:99999999;
	
	/*bottom: 0;
	
	top:25%;
	right:0%;
	bottom:-100%;
		
	width:18%;
	
 	height: 200px;
 	padding:10px 0;*/
 	
 	width:20%;
	right:0%;
	bottom:-200%;
	
	text-align:center;

 	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
			font-size:16px !important;
}

#push_sidebarphone span.close{
	opacity: 0.6;
}
#push_sidebarphone .closesidebar3{
	width:25px;
}

#push_sidebarphone img.del-img{
	margin-left:1px;	
	width:35px;
	vertical-align:middle;
	cursor:pointer;
	border-radius:3px;
}








body.show_sidebar3 #push_sidebarphone {
	bottom:0%;
	
}


#wrapper {
	margin-right: 0;
	min-height: 1000px;
	overflow: hidden;
	width: 100%;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
body.show_sidebar #wrapper {
	margin-right: 25%;
	width:80%;
}
